
<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <p style="font-style: italic;">The title of your entry</p>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Author %>
    <p style="font-style: italic;">Your name goes here.</p>
    <%= f.text_field :Author %>
  </div>
  <div class="field">
    <%= f.label :Description %>
    <p style="font-style: italic;">Be very descriptive.</p>
    <%= f.text_area :Description %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <p style="font-style: italic;">Hashtags aren't needed. This isn't twitter.</p>
    <%= f.text_field :tags %>
  </div>
  <div class="actions">
    <p style="font-style: italic;">Submit that young entry.</p>
    <%= f.submit %>
  </div>
<% end %>

