<h1>All Entries</h1>



<ul>
	
	<% @entries.each do |entry| %>
	<li>
 		<div class="entry.title">
			<%= entry.title %>
		</div>
		<div class="entry.author">
	by  	<%= entry.Author %>
		</div>
		<div class="entry.description">
			<%= entry.Description %>
		</div>
		<div class="entry.tags">
	Tags:	<%= entry.tags %>
		</div>
	</li>
</ul>

<%= link_to 'Show Full Entry', entry %> |
<%= link_to 'Edit Entry', edit_entry_path(entry) %>

<% end %>



<%= link_to 'New Entry', new_entry_path %>

