
<p id="notice"><%= notice %></p>

	<div class="entry-title">
		<%= @entry.title %>
	</div>
	<div class="entry-author">
		by <%= @entry.Author %>
	</div>
	<div class="entry-description">
		<%= @entry.Description %>
	</div>
	<div class="entry-tags">
		Tags: <%= @entry.tags %>
	</div>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
